/* Page's main background color */
body {
    background-color: #130912;
}

/* Styles for the grid container */
.container {
    background-color: white;
    height: 200px;
    width: 200px;
    outline: 2px solid #b14623;
    margin: 0 auto;
    margin-top: 3%;
}

/* Styles for the user interface container */
.user-interface {
  background-color: pink;
  height: 50px;
  width: 200px;
  outline: 2px solid blue;
  float: bottom;
  margin: 0 auto;
  margin-top: 3%;
}

.add-row-button {
  float: bottom;
  text-align: center;
  background-color: green;
  outline: 1px solid yellow; 
}

.add-column-button {
  text-align: center;
  background-color: blue;
  outline: 1px solid yellow;
}