/* Page's main background color */
body {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ba2f71c8-4b1a-4100-8e0d-b33068446e41/d97ma0i-60c2c3d3-4f28-4b48-b07d-4cc6cefcc513.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYmEyZjcxYzgtNGIxYS00MTAwLThlMGQtYjMzMDY4NDQ2ZTQxXC9kOTdtYTBpLTYwYzJjM2QzLTRmMjgtNGI0OC1iMDdkLTRjYzZjZWZjYzUxMy5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.gelwHW6lAK9hJAt2eXKjJTXdYdFL74VE0mcOSAWmjws');
  
}

/* Styles for the nav bar container */
.nav-bar {
  background-color: #ee8441;
  outline: 3px double #1b1416;
  height: 40px;
}

/* Styles for the text within the nav bar */
h1 {
  text-align: center;
  font-family: serif;
  font-variant: small-caps;
  color: #291c1f;
}

/* Styles for the grid container */
.big-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin: 10px;
}

/* Styles for the grid container */
.grid-container {
  background-color: white;
  outline: 3px double #e2573b;
  height: auto;
  width: auto;
  margin-right: 5%;
}

.grid-row {
  width: auto;
  height: auto;
  line-height: 0;
}

.cell {
  background-color: white;
  outline: 0.1px solid #eee;
  height: 10px;
  width: 10px;
  display: inline-block;
}

/* Styles for the user interface container */
.color-palette {
  height: 300px;
  width: 100px;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #e8aa5c;
  outline: 3px double #e2573b;
  text-align: center;
  margin-right: 3%;
}

.color-box {
  display: flex;
  justify-content: space-around;
  outline: 3px double #e2573b;
  background: white;
  height: 45px;
  width: 45px;
}

.current-color-display {
  outline: 1px solid black;
  height: 30px;
  width: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Styles for the color palette buttons */
.cp-btn {
  outline: 1px solid black;
  margin: 3px;
}

/* Styles for the button holder container */
.button-holder {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
}

/* GENERAL styles for the button class */
button {
  outline: 1px solid #1b1416;
  border: 0;
  text-align: center;
  font-variant: small-caps;
  font-family: serif;
  color: #291c1f;
}

/* user input row style */
.row-input {
  color: white;
  margin-right: 1%;
  font-weight: bold;
}

/* user input column style */
.column-input {
  color: white;
  margin-right: 1%;
  font-weight: bold;
}

/* user input field style */
.number-input {
  border: 0;
  outline: 1px solid black;
  width: 50px;
  margin-right: 1%;
}

.input-enter {
  background-color: #f2c592;
  margin-right: 3%;
}
  .input-enter:hover {
    background-color: #1b1416;
    color: white;
    outline: 1px solid white;
  }
  
   .input-enter:active {
    background-color: #73de49;
  }

text {
  margin-right: 3%;
  color: white;
}

/* clear whole canvas button */
.clear {
  background-color: #e2573b;
  margin-right: 3%;
}

  .clear:hover {
    background-color: #1b1416;
    color: white;
    outline: 1px solid white;
  }
  
   .clear:active {
    background-color: #73de49;
  }

/* Save button style */
.save-project {
  background-color: #f2c592;
  margin-right: 3%;
}

  .save-project:hover {
    background-color: #1b1416;
    color: white;
    outline: 1px solid white;
  }
  
   .save-project:active {
    background-color: #73de49;
  }

/* Load button style */
.load-project {
  background-color: #e8aa5c;
  margin-right: 3%;
}

  .load-project:hover {
    background-color: #1b1416;
    color: white;
    outline: 1px solid white;
  }
  
   .load-project:active {
    background-color: #73de49;
  }

/* upload img style */
.upload {
  background-color: #e2573b;
}

  .upload:hover {
    background-color: #1b1416;
    color: white;
    outline: 1px solid white;
  }
  
   .upload:active {
    background-color: #73de49;
  }